.post-apartment-apartmentList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .post-apartment-apartmentItem {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    width: 300px; /* Adjust width as needed */
  }
  
  .delete-post-button {
    position: absolute;
    top: -10px;
    right: -12px;
    background: none;
    border: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
    outline: none;
  }
  
  .apartment-photo {
    width: 100%;
    height: 200px; /* Set a fixed height for the apartment photo */
    object-fit: cover;
    border-radius: 8px;
  }
  
  .apartment-details {
    margin-top: 10px;
  }
  
  .apartment-details p {
    margin: 5px 0;
  }
  
  .roommate-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between the circles */
    margin-top: 10px;
  }
  
  .roommate-photo {
    width: 55px; /* Size of the circle */
    height: 55px; /* Size of the circle */
    border-radius: 50%;
    object-fit: cover; /* Ensures the image covers the circle */
    border: 2px solid #ccc; /* Optional: Border around the circle */
    margin-top: 10px; /* Adjust margin if needed to align properly */
  }
  