body {
  background-image: url('./background-pictures/welcome-background-web.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  /* Set Montserrat as the default font for all text */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pictureButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pictureButton {
  border: none;
  background: none;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  cursor: pointer;
}

.pictureButtonInput {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  /*check - dolevA
    width: 100%;
  height: 100%;
  */
}

.rowBoxesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  text-align: left;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.labelAndBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  margin-right: 15px;
  justify-content: center;
  align-items: center;
}

.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #5E6C5B;
}

.logo {
  font-size: 66.1px;
  font-weight: bold;
  margin-top: 0;
  padding: 0;
  line-height: 0;
  color: #5e6c5b;
  font-family: 'Bitter', serif;
  /* Set Bitter font for the logo */
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 35px;
}

.logoImg {
  width: 269px;
  height: 77.3px;
  margin-bottom: 0px;
  padding: 0;
}

.apartmentInMyAreaImg {
  width: 100px;
  height: 100px;
  object-fit: none;
  margin-top: 3px;
  padding: 0;
}

.findApartmentImg {
  width: 130px;
  height: 165px;
  object-fit: none;
  margin: 0;
  padding: 0;
}

.findRoomateImg {
  width: 100px;
  height: 105px;
  object-position: center;
  object-fit: none;
  margin-top: 10px;
}

.postApartmentImg {
  width: 130px;
  height: 165px;
  object-fit: none;
  margin-top: 15px;
}

.image-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  gap: 5px !important;
  flex-direction: row;
}

.welcome {
  font-size: 30px;
  margin-top: 40px;
}

.pageName {
  font-size: 24px;
  margin-top: 20px;
  text-align: left;
}

.boxTitle {
  font-size: 12px;
  margin-top: 15px;
  /*DolevA - did the margin top 15px for the profile page, i need to check if making issues in other pages (was 1) */
  text-align: left;
}

.middleBox {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middleFormBox {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formBoxes,
.loginBox,
.buttons {
  width: 345.5px;
  height: 65.4px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.formBoxes {
  background-color: #d6e0e2;
  color: #162a2c;
}

.formBoxes,
.loginBox {
  line-height: 65.4px;
}

.buttons {
  color: #FEFCF6;
  background-color: #162a2c;
  margin-top: 20px;
}

.loginBox {
  background-color: #162a2c;
  color: #d6e0e2;
  margin-top: 20px;
}

.text {
  margin-top: 20px;
}

.smallText {
  font-size: 15px;
  margin-top: 15px;
  color: #5E6C5B;
}

.checkBox {
  margin-top: 15px;
  color: #5E6C5B;
  text-align: left;
  border-color: #d6e0e2;
}

.inlineButton {
  background: none;
  border: none;
  color: #5E6C5B;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
}

.nonBoxButton {
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  color: #5E6C5B;
}

.input {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: none;
  background-color: transparent;
  text-align: center;
}

.input::placeholder {
  color: #162A2C;
}

/* Default styles for both web and mobile */
.backgroundImage {
  display: none;
  /* Hide by default */
}

.backgroundImageMobile {
  display: none;
  /* Hide by default */
}

.profileImage {
  width: 107.2px;
  height: 107.2px;
  border-radius: 50%;
  margin-top: 20px;
  src: url(./background-pictures/profilePicture.jpg);
}

.formRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  /* Adjust the gap between the elements */
  text-align: center;
}

.smallBox {
  width: 165.25px;
  height: 65.4px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  background-color: #d6e0e2;
  color: #162a2c;
}

.bigBox {
  width: 345.5px;
  height: 90px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  background-color: #d6e0e2;
  color: #162a2c;
}

.rowBoxTitle {
  font-size: 12px;
  margin-top: 1px;
  margin-right: 100px;
  text-align: left;
}

.profileImageHomePage {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

.pictureButtonProfileImageHomePage {
  border: none;
  background: none;
  position: relative;
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

/*doleva - check*/

.wrapper {
  max-width: 360px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 176px);
  grid-template-rows: 171px 91px 171px;
  gap: 10px;
}

.wrapper>button {
  background-color: #d6e0e2;
  color: #162a2c;
  padding: 1em;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  flex-direction: column;
  align-items: center;
}

.findRoomate {
  grid-column: 1;
  grid-row: 1 / 2;
}

.postApartment {
  grid-column: 2;
  grid-row: 1 / 3;
}

.findApartment {
  grid-column: 1;
  grid-row: 2 / 4;
}

.apartmentInMyArea {
  grid-column: 2;
  grid-row: 3 / 4;
}

/* Additional styling for labels and images */
.label {
  font-weight: bold;
  font-size: 15px;
  color: #162A2C;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin-bottom: 0;
}

/* Show background image for larger screens (e.g., computers) */
@media (max-width: 767px) {
  .backgroundImageMobile {
    display: block;
    background-image: url('./background-pictures/welcome-background-mobile.jpg');
    /* Provide the correct path */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }

  .backgroundImageMobileNewAccount {
    display: block;
    background-image: url('./background-pictures/newAccount-background-mobile.jpg');
    /* Provide the correct path */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.logoutButton {
  position: absolute;
  top: 50px;
  left: 300px;
  padding: 5px 10px;
  background-color: #133f4b;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
}

.profileContainer {
  position: relative;
}

/* Additional styles for the FindRoommatePage */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: transparent;
}

.page-title {
  font-size: 40px;
  color: #5e6c5b;
  margin: 0;
}

.home-button-container {
  position: absolute;
  top: 20px;
  left: 20px;
}


/* Styling for the ImageListItem and ImageListItemBar */
.MuiImageList-root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.MuiImageListItem-root {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.MuiImageListItem img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.MuiImageListItemBar-root {
  background: rgba(22, 42, 44, 0.7); /*!!!!!*/
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.MuiImageListItemBar-title {
  font-size: 15px;
  font-weight: bold;
}

.MuiImageListItemBar-subtitle {
  font-size: 12px;
}

.home-button,
.mail-button {
  padding: 0;
  margin-top: 0px;
  margin-left: 5px;
  font-size: 35px;
  color: #162A2C;
  display: flex;
  cursor: pointer;
  border: none;
  background: none;
  position: relative;
}

.home-button:hover,
.mail-button:hover,
.back-button:hover {
  background-color: transparent !important;
  /* Ensure the background is fully transparent */
  box-shadow: none !important;
  /* Remove any shadow on hover */
}

.home-button .MuiTouchRipple-root,
.mail-button .MuiTouchRipple-root,
.back-button .MuiTouchRipple-root {
  display: none;
  /* This removes the ripple effect */
}

.custom-badge .MuiBadge-badge {
  background-color: #162a2c !important;
  color: #FEFCF6;
}

.back-button {
  padding: 0;
  margin-left: 150px;
  margin-top: 16px;
  font-size: 35px;
  color: #162A2C;
  cursor: pointer;
  border: none;
  background: none;
}

.apartment-card {
  position: relative;
  border: 0 transparent;
  border-radius: 20px;
  overflow: visible;
  width: 340px;
  height: 340px;
  padding: 0;
  margin: 0;
}

.apartment-card-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 0px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.apartment-card_data {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.apartment-img {
  position: relative;
  overflow: visible;
  /* Ensure avatars can extend outside */
}

.apartment-image {
  width: 100%;
  height: 100%;
}

.roommates {
  position: absolute;
  top: -25px;
  /* Adjust to move the avatars out of the top edge */
  left: -25px;
  /* Adjust to move the avatars out of the left edge */
  display: flex;
  gap: 1px;
  z-index: 20;
  /* מבטיח שהתמונה תוצג מעל התמונה העיקרית */
}

.roommate {
  width: 60px;
  /* Adjust size as needed */
  height: 60px;
  /* Adjust size as needed */
  overflow: hidden;
  border-radius: 50%;
  z-index: 1;
  /* מבטיח שהתמונה תוצג מעל הכל */
}

.roommate:not(:first-child) {
  margin-left: -15px;
  /* חפיפה חלקית בין התמונות */
  z-index: 2;
  /* מבטיח שהתמונות העליונות יעלו על התמונות התחתונות */
}

.roommate-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.extra-roommates {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #d6e0e2;
  color: #162a2c;
  font-size: 14px;
  font-weight: bold;
  z-index: 3;
  margin-left: -15px;
  /* חפיפה חלקית בין התמונות */
}

.info-btn,
.message-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: #162A2C;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Slider and Progress Dots */
.photo-slider {
  position: relative;
  width: 340px;
  height: 340px;
  overflow: visible;
  border-radius: 10px;
}

.photo-slider-images {
  display: flex;
  transition: transform 0.3s ease-in-out;
  /* Add smooth transition */
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.photo-slider img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.apartment-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.progress-dots {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  position: relative;
  z-index: 100;
}

.dot {
  height: 7px;
  width: 7px;
  background-color: #686867;
  border-radius: 50%;
  margin: 0 2px;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  width: 15px;
  border-radius: 5px;
  background-color: #162a2c;
  cursor: default;
}

.photo-slider .arrow-left,
.photo-slider .arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  width: 50%;
  height: 100%;
}

.photo-slider .arrow-left {
  left: 0;
}

.photo-slider .arrow-right {
  right: 0;
}

.photo-slider .arrow-left:active,
.photo-slider .arrow-right:active {
  background: transparent;
  /* סימון אזור לחיצה */
}

.slide-hidden {
  display: none;
}

.clickable-area {
  position: absolute;
  top: 0;
  height: 100%;
  width: 15%;
  /* רק 10% מרוחב התמונה */
  cursor: pointer;
  z-index: auto;
  background-color: transparent;
}

.clickable-area.left {
  left: 0;
}

.clickable-area.right {
  right: 0;
}

.card-actions {
  display: flex;
  justify-content: flex-start;
  gap: 0px;
  margin-top: 4px;
}

.apartment-list {
  gap: 100px;
}


.apartment-info {
  width: 100%;
  text-align: left;
  color: #686867;
  position: relative;
  margin-top: 10px;
  gap: 0;
}

.apartment-info h3 {
  margin: 0;
  font-size: 16px;
}

.apartment-info p {
  font-size: 14px;
  margin: 0;
  /* מסיר רווחים סביב ה-P */
  padding: 0;
  /* מסיר רווחים פנימיים */
}

.apartmentBio {
  font-size: 15px;
  margin-top: 0;
  padding-top: 0;
}

.apartmentAdrees {
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.alert-box {
  position: absolute;
  background: #F6EEE0;
  border-radius: 8px;
  border: #F6EEE0;
  padding: 10px;
  z-index: 1000;
  width: 300px;
  /* Fixed width */
  max-width: 300px;
  height: 100px;
  transform: translate(-50%, -50%);
  word-wrap: break-word;
  /* Allow long words to wrap */
}

.alert-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.alert-content h4 {
  margin: 0;
  font-size: 15px;
}

.alert-content p {
  margin: 0;
  font-size: 15px;
}

.alert-icon {
  font-size: 17px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.info-alart {
  cursor: pointer;
  background-color: transparent;
  font-size: 15px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: transparent;
  color: #162A2C;
}

.alert-close {
  background: none;
  border: none;
  font-size: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.formRowEdit {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* Adjust the gap between the elements */
  gap: 0px;
  justify-content: space-between;
}

.filterButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: #5E6C5B;
  margin: 0;
  padding: 0;
}

.sortButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: #5E6C5B;
  margin-right: 0;
  padding-right: 0;
}

.icon-buttons {
  display: flex;
  gap: 5px;
  /* Adds space between the icons */
  justify-content: flex-end;
  /* Aligns the icons to the right */
}

.roommate-popup {
  position: absolute;
  top: -30px;
  /* התאמה כדי שהפינה השמאלית העליונה של החלון תהיה במרכז העיגול */
  left: -10px;
  width: 310px;
  background-color: #f6eee0;
  border-radius: 10px;
  z-index: 20;
}

.popup-header {
  display: flex;
  align-items: left;
  margin-top: 0px;
}

.popup-header h3 {
  margin-top: 24px;
  margin-left: 4px;
  padding: 0;
  font-size: 16px;
  color: #162a2c;
}

.popup-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 0px;
}

.popup-content {
  margin-top: 0px;
  color: #162a2c;
  font-size: 14px;
  text-align: left;
  margin-left: 30px;
}

.popup-footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: #686867;
  position: absolute;
  top: 0px;
  /* מיקום מדויק כדי שיהיה צמוד לפינה */
  right: -8px;
}

.info-btn-popup {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: #686867;
  position: absolute;
  bottom: -8px;
  /* מיקום מדויק כדי שיהיה צמוד לפינה */
  right: -9px;
}

.filter-menu {
  position: absolute;
  top: 240px;
  left: 250px;
  background-color: #f6eee0;
  border: 0.5px solid #162a2c;
  /*check*/
  border-radius: 5px;
  padding: 5px;
  z-index: 100;
  width: auto;
  /* התאמת הרוחב לתוכן */
  white-space: nowrap;
}

.filter-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #5e6c5b;
  font-size: 13px;
}

.filter-menu ul li {
  padding: 5px 8px;
  cursor: pointer;
  border-bottom: 0.5px solid #686867;
}

.filter-menu ul li:last-child {
  border-bottom: none;
  /* מסיר את הקו המפריד מהאופציה האחרונה */
}

.filter-menu ul li:hover {
  background-color: transparent;
  box-shadow: none
}

.filter-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #f6eee0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
}

.filter-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #162a2c;
  align-content: center;
}

.filter-sidebar-content {
  flex: 1;
  color: #162a2c;
  overflow-y: auto;
}

.filter-group {
  margin-bottom: 15px;
  gap: 5px;
}

.filter-sidebar-footer {
  padding-top: 10px;
  text-align: center;
  align-items: center;
}

.entry-btn {
  background: #162a2c;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: #fefcf6;
  bottom: 0;
  right: 0;
  width: 80%;
}

.close-button {
  background: none;
  border: none;
  font-size: 13px;
  cursor: pointer;
  color: #162a2c;
  top: 0;
  right: 0;
  position: absolute;
}

.apartment-details-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  max-width: 800px;
  background-color: #f6eee0;
  border: 1.5px solid #d6e0e2;
  border-radius: 10px;
  padding: 20px;
  z-index: 2000;
  display: flex;
  flex-direction: column;
}


.apartment-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  text-align: center;
}

.apartment-popup-header h2 {
  margin: 0;
  font-size: 18px;
  color: #5e6c5b;
  text-align: center;
}

.apartment-popup-content {
  display: flex;
  flex-direction: column;
}

.apartment-description {
  font-size: 14px;
  color: #686867;
}

.apartment-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #686867;
  text-align: left;
}

.apartment-image-popup {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.input-with-clear {
  position: relative;
  display: flex;
  align-items: center;
}

.input-with-clear input {
  width: 100%;
  padding-right: 20px; /* מוסיף מקום לכפתור ה-X */
  border: 1px solid #ccc; /* מסגרת ברירת מחדל */
  border-radius: 4px; /* פינות מעוגלות */
  outline: none; /* מסיר את ה-outline */
}


.clear-button {
  position: absolute;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: #999;
}

.clear-button:hover {
  background-color:transparent;
}

