body {
  background-image: url('./background-pictures/welcome-background-web.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pictureButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pictureButton {
  border: none;
  background: none;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  cursor: pointer;
}

.pictureButtonInput {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.rowBoxesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  text-align: left;    
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.labelAndBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  margin-right: 15px;
  justify-content: center;
  align-items: center;
}

.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #5E6C5B;
}

.logo {
  font-size: 66.1px;
  font-weight: bold;
  margin-top: 0;
  padding: 0;
  line-height: 0;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoImg {
  width: 269px;
  height: 77.3px;
  margin-bottom: 0px;
  padding: 0;
}

.apartmentInMyAreaImg {
  width: 100px;
  height: 100px;
  object-fit: none;
  margin-top: 3px;
  padding: 0;
}

.findApartmentImg {
  width: 130px;
  height: 165px;
  object-fit: none;
  margin: 0;
  padding: 0;
}

.findRoomateImg {
  width: 100px;
  height: 105px;
  object-position: center;
  object-fit: none;
  margin-top: 10px;
}

.postApartmentImg {
  width: 130px;
  height: 165px;
  object-fit: none;
  margin-top: 15px;
}

.image-container {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
  padding: 0;
}

.welcome {
  font-size: 30px;
  margin-top: 40px;
}

.pageName {
  font-size: 24px;
  margin-top: 20px;
  text-align: left;
}

.boxTitle {
  font-size: 12px;
  margin-top: 15px;
  /*DolevA - did the margin top 15px for the profile page, i need to check if making issues in other pages (was 1) */
  text-align: left;
}

.middleBox {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middleFormBox {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formBoxes,.loginBox,.buttons {
  width: 345.5px;
  height: 65.4px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.formBoxes {
  background-color: #d6e0e2;
  color: #162a2c;
}

.formBoxes,.loginBox {
  line-height: 65.4px;
}

.buttons {
  color: #FEFCF6;
  background-color: #162a2c;
  margin-top: 20px;
}

.loginBox {
  background-color: #162a2c;
  color: #d6e0e2;
  margin-top: 20px;
}

.text {
  margin-top: 20px;
}

.smallText {
  font-size: 15px;
  margin-top: 15px;
  color: #5E6C5B;
}

.checkBox {
  margin-top: 15px;
  color: #5E6C5B;
  text-align: left;
  border-color: #d6e0e2;
}

.inlineButton {
  background: none;
  border: none;
  color: #5E6C5B; 
  cursor: pointer;
  font-size: inherit; 
  padding: 0;
}

.nonBoxButton {
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  color: #5E6C5B;
}

.guestButton:hover {
  text-decoration: underline;
}

.input {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: none;
  background-color: transparent;
  text-align: center;
}

.input::placeholder {
  color: #162A2C;
}

/* Default styles for both web and mobile */
.backgroundImage {
  display: none; /* Hide by default */
}

.backgroundImageMobile {
  display: none; /* Hide by default */
}

.profileImage {
  width: 107.2px;
  height: 107.2px;
  border-radius: 50%;
  margin-top: 20px;
  src: url(./background-pictures/profilePicture.jpg);
}

.formRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px; /* Adjust the gap between the elements */
  text-align: center;
}

.smallBox {
  width: 165.25px;
  height: 65.4px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  background-color: #d6e0e2;
  color: #162a2c;
}

.bigBox {
  width: 345.5px;
  height: 90px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  background-color: #d6e0e2;
  color: #162a2c;
}

.rowBoxTitle {
  font-size: 12px;
  margin-top: 1px;
  margin-right: 100px; 
  text-align: left;
}

.profileImageHomePage {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.pictureButtonProfileImageHomePage {
  border: none;
  background: none;
  position: relative;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 360px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 176px);
  grid-template-rows: 171px 91px 171px;
  gap: 10px;
}

.wrapper>button {
  background-color: #d6e0e2;
  color: #162a2c;
  padding: 1em;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  flex-direction: column;
  align-items: center;
}

.findRoomate {
  grid-column: 1;
  grid-row: 1 / 2;
}

.postApartment {
  grid-column: 2;
  grid-row: 1 / 3;
}

.findApartment {
  grid-column: 1;
  grid-row: 2 / 4;
}

.apartmentInMyArea {
  grid-column: 2;
  grid-row: 3 / 4;
}

/* Additional styling for labels and images */
.label {
  font-weight: bold;
  font-size: 15px;
  color: #162A2C;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin-bottom: 0;
}

/* Show background image for larger screens (e.g., computers) */
@media (max-width: 767px) {
  .backgroundImageMobile {
    display: block;
    background-image: url('./background-pictures/welcome-background-mobile.jpg'); /* Provide the correct path */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }

  .backgroundImageMobileNewAccount {
    display: block;
    background-image: url('./background-pictures/newAccount-background-mobile.jpg'); /* Provide the correct path */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.logoutButton {
  position: absolute;
  top: 50px;
  left: 300px;
  padding: 5px 10px;
  background-color: #133f4b;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
}

.logoutButton:hover {
  background-color: #21a1f1;
}

.profileContainer {
  position: relative;
}
